/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.star{
    color: red;
    font-size: 16px;
}

/*#description{
    border: medium dotted #CCCCCC;
    float: left;
    height: 300px;
    width: 250px;
    margin: 10px;
    padding: 10px 20px;
}

#img{
    box-shadow: 2px 2px 2px 2px #999999;
    height: 150px;
    margin-bottom: 15px;
    margin-top: 5px;
    width: 180px;
}*/
